<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>ErVerifyTool</display-name>
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>ErVerifier</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErVerifier</servlet-name>
    <url-pattern>/esor13/exec/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ErVerifierToolConfiguration</servlet-name>
    <servlet-class>de.bund.bsi.tr_esor.servlet.ConfigurationServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErVerifierToolConfiguration</servlet-name>
    <url-pattern></url-pattern>
    <url-pattern>/loadConfiguration</url-pattern>
  </servlet-mapping>
</web-app>