/.classpath
/.project
/*.orig
/*.log
/*.eclipse-pmd
/?settings
.gradle/
.project
.settings/
.metadata/
.it/
build/
gradle/buildCache/
buildSrc/build
installer/gov-install.log4j
.gradletasknamecache
jacoco?exec
!gradle-wrapper?jar
tools/governikus_sc/gov_sc_protocol?txt
?DS_Store
[/]+/build
[/]+/bin
[/]+/[/]+/bin
[/]+/genschema/build
[/]+/genschema/bin
tools/[/]+/build
tools/[/]+/bin

lombok.config
adapterservice/hf.fo
frontend/hf.fo
.idea/*.xml
.idea/dataSources/
.idea/shelf/
.idea/sonarlint/
.idea/modules/
.idea/docker/
