<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
Template for creating a configuration file

See product documentation chapter Usage, section Configuration for
instructions how to fill in this file.

-->
<Configuration xmlns="http://www.bsi.bund.de/tr-esor/checktool/1.2">
  <General>
    <VerifierID>urn:verifier_id</VerifierID>
    <DefaultProfileName>https://tools.ietf.org/html/rfc4998</DefaultProfileName>
  </General>
  <!-- For online verification of time stamps, fix URL and activate: -->
  <!--
  <Profile name="https://tools.ietf.org/html/rfc4998">
    <Validator>
      <className>de.bund.bsi.tr_esor.checktool.validation.default_impl.ECardTimeStampValidator</className>
      <parameter name="eCardURL">http://<HOSTNAME>:<PORT>/vi-ecard-webservice/eCard?wsdl</parameter>
      <targetType>org.bouncycastle.tsp.TimeStampToken</targetType>
    </Validator>
  </Profile>
  <Profile
    name="http://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03125/BSI_TR_03125_Anlage_ERS_V1_2.html#Basis-ERS-Profil">
    <Validator>
      <className>de.bund.bsi.tr_esor.checktool.validation.default_impl.basis.ers.BasisErsECardTimeStampValidator
      </className>
      <parameter name="eCardURL">http://<HOSTNAME>:<PORT>/vi-ecard-webservice/eCard?wsdl</parameter>
      <targetType>org.bouncycastle.tsp.TimeStampToken</targetType>
    </Validator>
  </Profile>
  -->
</Configuration>
